/input/magicc
/input/climate
/libs
/output
/ModelInterface
/Additional Licenses
/CONTRIBUTING.md
/LICENSE.md
/README.md
/exe/*.dll
.Rproj.user
/input/gcamdata/.drake
/input/gcamdata/
/input/gcamdata/renv
exe/debugReference.xml
